<div class="float-clock" ng-show="!isCorrection">
  <span class="fa fa-clock-o"></span> <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
</div>

<div class="container-fluid main-view">
  <div class="col-lg-10 col-lg-offset-1">

    <div class="row result-animation" ng-show="isCorrection">

      <h1>Résultats</h1>
      <div class="col-lg-2 col-lg-offset-1">
        <div class="progress-wrapper">
              <div class="progress-text">{{ (smoothPercent || score.percent) }}%</div>
              <div
                  round-progress
                  max="score.total"
                  current="score.good"
                  color="#5bc0de"
                  bgcolor="#eaeaea"
                  radius="50"
                  rounded="false"
                  stroke="10"
                  clockwise="true"
                  responsive="false"
                  duration="1200"
                  animation="easeInOutQuart"
                  animation-delay="0"
                  on-render="showCurrent">
              </div>
          </div>
      </div>

      <div class="col-lg-8">
        <div>Taux de réussite : <b>{{score.percent}}</b> %</div>
        <div><b>{{score.good}}</b> bonne(s) réponse(s) sur un total de <b>{{score.total}}</b> questions.</div>
        <div>Durée de l'épreuve : <b>{{duration}}</b><br></div>
        <button class="btn btn-info" ng-click="gotoMenu()">Retour au menu</button>
      </div>

      <hr>
    </div>

    <div class="row">

      <div class="col-lg-12">
        <uib-tabset class="tab-animation" active="selected" type="pills">
          <uib-tab index="question.getIndex()" ng-repeat="question in quiz.getQuestions()">


            <div class="alert alert-danger" ng-show="userInputError">
              <div ng-bind="userInputError"></div>
            </div>

            <p><strong>Question n°{{$index+1}} : </strong>{{question.getText()}}</p>

            <ul ng-repeat="suggest in question.getSuggests()" index="suggest.getIndex()" ng-init="q = question.getIndex()">

              <div ng-switch="question.getType()">
                <label ng-switch-when="single" ng-class="getAnswerClass(q, $index)">
                  <input type="radio" ng-model="answers[q]" ng-disabled="isCorrection" name="question{{q}}" ng-value="{{$index}}">
                   {{$index+1}}. {{suggest.getText()}}
                </label>

                <label ng-switch-when="multiple" ng-class="getAnswerClass(q, $index)">
                  <input type="checkbox" ng-disabled="isCorrection" checklist-model="answers[q]" checklist-value="$index">
                   {{$index+1}}. {{suggest.getText()}}
                </label>
              </div>
            </ul>

            <div ng-show="isCorrection">{{ question.getExplain() }}&nbsp;</div>
            <hr>
          </uib-tab>
        </uib-tabset>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="btn-group" role="group" aria-label="" ng-show="!isCorrection">
          <button type="button" ng-click="validate()" class="btn btn-success pull-right">
            Valider <span class="fa fa-check"></span>
          </button>
        </div>

        <div ng-show="isCorrection" ng-repeat="question in quiz.getQuestions()" index="question.getIndex()" class="btn-group" role="group" aria-label="">
          <button type="button" ng-click="selectQuestion($index)" ng-class="getQuestionButtonClass(question.isValid())">
            Question {{$index+1}}
          </button>
        </div>
      </div>
    </div>


    <div class="row" ng-show="_debug_">
      Données quiz : <pre ng-bind="quiz | json"></pre>
      Réponse utilisateur : <pre>{{ answers }}</pre>
      Corrections : <pre>{{ corrections | json }}</pre>
    </div>

  </div>
</div>
